{% extends 'AppCoder/padre.html' %}
{% load static %}


<div class="container px-4 px-lg-7">

        {% block body %}
                <div class="row gx-4 gx-lg-7  my-5">
                        <div class="col-lg-6">       
                                <h1>Bienvenido al buscador</h1>  
                                <br>
                                <form action="/AppCoder/busquedaJuego/" method="GET">
                                        <h5>Aqui podras buscar un titulo presente en el catalogo de juegos.</h5>
                                        <br>
                                        <p>Titulo: <input name="tit"></input>  <input class="btn btn-primary" type="submit" value="Buscar"></input>
                                        </p> 
                                </form>
                        </div>
                        <div class="col-lg-6">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppCoder/buscar.png' %}" alt="..." />
                        </div>  
                </div>
        {% endblock %} 
</div>
        

