{% extends 'AppCoder/padre.html' %}
{% load static %}
{% csrf_token %}

{% block descripcion %}
    <div class="container px-4 px-lg-7">

        <div class="row gx-4 gx-lg-7  my-5">

            <div class="col-lg-6"> 

                {% if nombres %}

                    <h1>Resultados de busqueda para documento: {{documento}}</h1>

                    <br>
                    
                    <p>{{nombres|length}} resultado/s encontrado/s. </p>

                    {% for nombre in nombres %}
                            
                        <ul>

                            <li> Nombre: {{nombre.nombre}} </li>
                            <li> Apellido: {{nombre.apellido}} </li>
                            <li> Documento: {{nombre.documento}} </li>

                        </ul>

                        <a class="btn btn-primary" href="{%url 'inicio' %}">Volver a inicio</a>

                    {% endfor %}  
               
                {% else %} 

                    <h1>Ups! Algo paso :(</h1>
                    <br>
                    Ocurrio un error en tu busqueda, esto puede deberse a los siguientes motivos:
                    <br>
                    <br>
                    <ul>

                        <li><p>No ingreso el documento correcto</p></li>
                        <li><p>El usuario no existe.</p></li>
                        <li><p>No ingreso ningun caracter.</p></li>
                        <li><p>El/los caracteres ingresados no son validos.</p></li>
                        <br>

                    <a class="btn btn-primary" href="{%url 'inicio' %}">Volver a inicio</a>

                {% endif %}

            </div> 
            <div class="col-lg-6">

                <img class="img-fluid rounded mb-8 mb-lg-6" src="{% static 'AppCoder/buscar.png' %}" alt="..." />

            </div>
        </div>

    </div>
        
{% endblock %}