{% extends 'AppCoder/padre.html' %}
    {% load static %}
 
        {% block descripcion %}

            <div class="container px-4 px-lg-5">
                
                <div class="row gx-4 gx-lg-5 align-items-center my-5">

                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppCoder/crash.png' %}" alt="..." /></div>
                    
                    <div class="col-lg-5">
                        
                        
                        <h1 class="font-weight-light">Bienvenido {{usuario}}</h1>

                        <br>

                        <p>Aqui podras registrate, inicio sesion y editar tu usuario (tanto informacion como tu avatar).Tambien podras ver juegos, elimnarlos, editarlos o agregar uno nuevo en la seccion del catalogo. En el menu de la esquina superior derecha podras encontrar las opciones a escoger segun lo que desees hacer.</p>
                        
                        <br>                    

                    </div>

                </div>

            </div>

        {% endblock %}