{% extends 'AppCoder/padre.html' %}
{% load static %}
{% csrf_token %}

{% block descripcion %}
    <div class="container px-4 px-lg-7 center">

        <div class="row gx-4 gx-lg-7  my-5">

            <div class="col-lg-6"> 
                
                {% for juego in object_list %}
                <br>
                    <il>
                        <h4>Titulo:</h4><p>{{juego.titulo}}</p>
                        <img src="{{juego.caratula.url}}" alt="imagen" width="300" height="175">
                        <br>
                        <br>
                        <h6>Genero:</h4><p>{{juego.genero}}</p>
                        <h6>Tipo de juego:</h4><p>{{juego.tipo_de_juego}}</p>
                    </il>
                    <br>

                    <a class="btn btn-primary" style="background-color:black; border-color:black" href="{% url 'DetalleJuego' juego.id %}">Ver detalles</a>
                    <a class="btn btn-primary" style="background-color:green; border-color:green" href="{% url 'ActualizarJuego' juego.id %}">Actualizar</a>
                    <a class="btn btn-primary" style="background-color:red; border-color:red" href="{% url 'EliminarJuego' juego.id %}">Eliminar</a>

                    <br>
                    <br>
                    <br>
                    <img class="img-fluid rounded mb-14 mb-lg-0" src="{% static 'AppCoder/pacman.png' %}" alt="..." />

                    <br>
                    <br>
                {% endfor %}

                    <br>
                    <a class="btn btn-primary" href="{% url 'CrearJuego' %}">Agregar juego</a>


            </div> 
        </div>
    </div>
{% endblock %}