{% extends 'AppCoder/padre.html' %}
{% load static %}
    
    {% block body %}
    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'AppCoder/Form-1.jpg' %}" alt="..." /></div>
                <div class="col-lg-5"><h1> Agregar un juego nuevo: </h1>
                    <br>
                    <form action="" enctype="multipart/form-data" method="POST"> {% csrf_token %}  
                        
                        <table>
                            {{form.as_p}}
                        </table>
                        <br>
                        <input type="submit" class= "btn btn-primary" value= "Enviar"></input>   
                        <a class="btn btn-primary" style="background-color:black;  border-color:black" href="{% url 'ListaJuego' %}">Volver al catalogo</a>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}