{% extends 'AppCoder/padre.html' %}
{% load static %}
{% csrf_token %}

{% block descripcion %}
    <div class="container px-4 px-lg-7">

        <div class="row gx-4 gx-lg-7  my-5">

            <div class="col-lg-6"> 

                
                    <h1>{{juego.titulo}}</h1>
                    <br>
                    <br>
                    <ul>
                        <p><b>Descripcion: </b>{{juego.descripcion}}</p>
                        <p><b>Genero: </b>{{juego.genero}}</p>
                        <p><b>Año de salida: </b>{{juego.año_de_salida}}</p>
                        <p><b>Tipo de juego: </b>{{juego.tipo_de_juego}}</p>
                    </ul>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'ListaJuego' %}">Volver al catalogo</a>
                   
                   

                    
                    <br>
            


            </div> 
            <div class="col-lg-6">

                <img class="img-fluid rounded mb-8 mb-lg-6" src="{% static 'AppCoder/buscar.png' %}" alt="..." />

            </div>
        </div>

    </div>
{% endblock %}