{% extends 'AppCoder/padre.html' %}
{% load static %}
{% csrf_token %}
    
    {% block descripcion %}
        <br>
        <h1>Resultados de busqueda segun el documento: {{busqueda}}</h1>
                {% for clientes in clientes %}
                    <ul>       
                        <li> Nombre: {{clientes.nombre}} </li>
                        <li> Documento: {{clientes.documento}} </li>
                    <ul/>
                {% endfor %}
                    
                     
    {% endblock %}